@import '@styles/color.scss';

$cat-ear-size: 9px;
$cat-ear-size-left: 9px;
$cat-ear-size-right: 9px;
$cat-ear-offset: 10px;

.introduce-gye-container.landscape {
  position: relative;
  width: 100%;
  height: 100%;
}

.landscape-profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .gye-image-container.landscape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 0;
    border-radius: 100px;
    width: 240px;
    height: 270px;
    box-sizing: border-box;

    .landscape-gye-image {
      width: 196px;
      height: 260px;
      overflow: hidden;
      border-radius: 20px;

      background-image: url('@assets/image/gyechunhoe_live2d.webp');
      background-repeat: no-repeat;
      background-size: 400px;
      background-position: top;
    }
  }

  .gye-profile-container.landscape {
    color: $dark-grey;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gye-profile {
      position: relative;
      padding: 20px;
      margin-right: 8px;
      border-radius: 30px;

      .landscape-modal-close-btn {
        position: absolute;
        right: 20px;
        top: 29px;
        width: 25px;
        height: 25px;
        background-color: $dark-grey;
        color: $soft-white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        transition: background-color 0.1s ease-in-out;
      }
      .landscape-modal-close-btn:hover {
        cursor: pointer;
        background-color: $dark-grey-hover;
      }

      .gye-profile-title {
        transform: translateX(8px);
        h1 {
          position: relative;
          color: $profile-name;
          margin: 0;
          padding: 0;
          font-size: 26px;
          font-weight: 400;
          margin-top: 10px;
          margin-bottom: 16px;
          margin-left: 2px;
        }

        h1::before {
          content: '';
          position: absolute;
          width: 1px;
          height: 90%;
          border-left: 3px solid $background-pink-modal;
          left: -7px;
        }
      }

      .gye-profile-description {
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;

        p {
          margin: 0;
          padding: 0;
          font-size: 11px;
          line-height: 1rem;
        }
      }

      .gye-profile-bio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 8px;
        width: 100%;
        margin-bottom: 12px;
        margin-top: 10px;
        margin-left: 0;

        .profile-item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .profile-content {
            position: relative;
            text-align: center;
            font-size: 12px;
            margin-top: 4px;
          }

          .fanname-content > figure {
            position: absolute;
            bottom: -10px;
            right: -35px;
            margin: 0;
            padding: 0;

            > img {
              width: 30px;
            }
          }

          .cat-box {
            position: relative;
            box-sizing: border-box;
            width: 77px;
            height: 20px;
            border: 1px solid $profile-cat-box-border;
            border-radius: 15px;
            margin-top: calc($cat-ear-size + 5%);

            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            line-height: 18px;
          }

          .cat-box::before,
          .cat-box::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
          }

          .cat-box::before {
            top: -$cat-ear-size;
            left: $cat-ear-offset;
            border-width: 0 $cat-ear-size-left $cat-ear-size $cat-ear-size-right; /* 비대칭 삼각형 */
            border-color: transparent transparent $profile-cat-box-border
              transparent;
          }

          .cat-box::after {
            top: -$cat-ear-size;
            right: $cat-ear-offset;
            border-width: 0 $cat-ear-size-left $cat-ear-size $cat-ear-size-right; /* 비대칭 삼각형 */
            border-color: transparent transparent $profile-cat-box-border
              transparent;
          }
        }
      }
    }
  }
}
