$desert-sand: #e1c699;
$dark-brown: #4e342e;
$navy-blue: #2c3e50;
$dark-grey: #333333;

$background-pink-transparent: #f5c5cccc;
$background-pink-modal: rgb(252, 186, 197);

$border-pink: #f33e3e;

$profile-cat-box-border: #ffb8b8;
$profile-cat-box-background: #f5c5cc;

$profile-name: #9b404f;

$soft-white: #f7f7f7;
$soft-bright-white: #f9f9f9;
