@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-Thin.woff')
    format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-ExtraLight.woff')
    format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-Light.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-ExtraBold.woff')
    format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://static.gyechune.com/fonts/Pretendard-Black.woff')
    format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// noto-sans
@font-face {
  font-family: 'noto-sans';
  src: url('https://static.gyechune.com/fonts/NotoSansKR.ttf')
    format('truetype');
  font-display: swap;
}

// GmarketSans
@font-face {
  font-family: 'GmarketSans';
  src: url('https://static.gyechune.com/fonts/GmarketSansLight.otf')
    format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('https://static.gyechune.com/fonts/GmarketSansMedium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GmarketSans';
  src: url('https://static.gyechune.com/fonts/GmarketSansBold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// 예스고딕
@font-face {
  font-family: 'YESGothic-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// 나눔 스퀘어 네오
@font-face {
  font-family: 'NanumSquareNeo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
