.display-board-enter {
  opacity: 0;
  transform: translateY(-3%);
}

.display-board-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.display-board-exit {
  opacity: 1;
  transform: translateY(0);
}

.display-board-exit-active {
  opacity: 0;
  transform: translateY(3%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
