// 반응형 변수들
@import '@styles/ResponsiveVar.scss';

.main-background {
  background-image: url(https://static.gyechunhoe.com/etc/gyechunhoe-conertsanabi-1080p.gif);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: rgb(49, 49, 46);
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-gif img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

// 벚나무 도트
// .art-blossom-tree
.main-content {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(/assets/image/tree01.png);

  height: 100%;
  width: 100%;

  background-size: var(--blossom-tree-size);
  background-position: var(--blossom-tree-position-x)
    var(--blossom-tree-position-y);

  // 나무 판자 버튼 도트
  // .art-board-buttons
  .board {
    position: absolute;
    background-image: url(/assets/image/hangingBoard_3boards_onlyboard.png);
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;

    background-size: var(--board-buttons-size);
    background-position: var(--board-buttons-position-x)
      var(--board-buttons-position-y);

    .btn-gyechunhoe,
    .btn-concert,
    .btn-contents {
      position: absolute;
      box-sizing: border-box;
      border: none;

      background-color: transparent;
      // background-color: rgba(0, 4, 255, 0.548);

      // anchor point 를 중심으로 두기 위한 설정
      transform: translate(-50%, -50%);

      border-radius: 1.5vh;
      z-index: 1;
      transition: background-color 0.13s ease-in-out;

      &:hover {
        cursor: pointer;
        transition-duration: 0.13s;
        background-color: rgba(255, 255, 255, 0.3);
      }

      &.active {
        background-color: rgba(204, 133, 133, 0.3);
      }
    }

    // 버튼 크기 조정
    .btn-gyechunhoe {
      height: var(--btn-gyechunhoe-height);
      width: var(--btn-gyechunhoe-width);
    }
    .btn-concert,
    .btn-contents {
      height: var(--btn-concert-height);
      width: var(--btn-concert-width);
    }

    // 버튼 위치 조정
    .btn-gyechunhoe {
      top: var(--btn-gyechunhoe-top);
      left: var(--btn-gyechunhoe-left);
    }
    .btn-concert {
      top: var(--btn-concert-top);
      left: var(--btn-concert-left);
    }
    .btn-contents {
      top: var(--btn-contents-top);
      left: var(--btn-contents-left);
    }
  }

  .display-board-container {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    // .art-display-board
    .display-board {
      &.concert {
        background-image: url(/assets/image/displayboard_concert_modi_01.png);
      }
      &.contents {
        background-image: url(/assets/image/displayboard_contents.png);
      }
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;

      background-size: var(--display-board-size);
      background-position: var(--display-board-position-x)
        var(--display-board-position-y);
    }
  }
}

.btn-contents {
  top: var(--btn-contents-top);
  left: var(--btn-contents-left);

  &.contents {
    background-image: url(/assets/image/displayboard_contents.png);
  }
}
