@import '@styles/ResponsiveVar.scss';

.board-concert-content {
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  .concert-video {
    position: absolute;
    box-sizing: border-box;
    border: 4px rgb(61, 27, 5) solid;
    border-radius: 10px;
    border-top-width: 5px;
    border-left-width: 4px;
    border-bottom-width: 2px;

    object-fit: cover;
    background-color: #000000;

    translate: -50% -50%;
    top: var(--display-video-top);
    left: var(--display-video-left);

    width: var(--display-video-width);
    height: var(--display-video-height);
  }

  .display-board-btn-container {
    box-sizing: border-box;
    position: absolute;

    border: 3px solid #2fe617;

    top: var(--display-video-container-top);
    left: var(--display-video-container-left);

    .display-board-btn {
      position: absolute;
      width: var(--display-video-btn-width);
      height: var(--display-video-btn-height);
      border-radius: 20px;
      border: none;
      background-color: transparent;
      // background-color: #4417e66c;

      z-index: 1;
    }
    .display-board-btn-move {
      left: var(--display-video-move-btn-left);
    }
    .display-board-btn-close {
      left: var(--display-video-close-btn-left);
    }

    .display-board-btn:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.174);
    }
  }
}
