@import '@styles/ResponsiveVar.scss';

.board-concert-content {
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  .concert-video {
    position: absolute;
    box-sizing: border-box;
    border: 4px rgb(61, 27, 5) solid;
    border-radius: 10px;
    border-top-width: 5px;
    border-left-width: 4px;
    border-bottom-width: 2px;

    object-fit: cover;
    background-color: #000000;

    translate: -50% -50%;
    top: var(--display-video-top);
    left: var(--display-video-left);

    width: var(--display-video-width);
    height: var(--display-video-height);
  }

  .display-board-btn-close {
    position: absolute;
    width: 4.3vh;
    height: 3.6vh;
    border-radius: 40%;
    border: none;
    top: 19.8vh;
    right: 18.7vh;
    background-color: transparent;
    z-index: 1;

    transition: background-color 0.1s ease;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.174);
    }
  }

  .display-board-btn-container {
    box-sizing: border-box;
    position: absolute;

    top: var(--display-video-container-top);
    left: var(--display-video-container-left);

    .display-board-btn {
      position: absolute;
      width: var(--display-concert-btn-width);
      height: var(--display-concert-btn-height);
      border-radius: 20px;
      border: none;
      background-color: transparent;

      transition: background-color 0.1s ease;
      z-index: 1;
    }
    .display-board-btn-concert {
      left: -3vh;
      top: 0.4vh;
    }
    .display-board-btn-birthday {
      left: 14vh;
      top: 0.4vh;
    }

    .display-board-btn:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.174);
    }
  }
}
