.mobile-display-container {
  position: absolute;
  top: 49px;
  width: 100vw;
  background-color: rgb(241, 241, 236);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .mobile-display-video {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 34px;
  }

  .mobile-display-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 11px;
    margin-right: 11px;
    // background-color: red;
    border-radius: 10px;

    .mobile-display-link-btn {
      padding: 12px 20px;
      margin: 9px 9px;
      background-color: rgba(39, 39, 36, 0.747);
      border: none;
      box-sizing: border-box;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;

      > svg {
        font-size: 16px;
        color: pink;
      }
    }
  }
}
