@import '@styles/color.scss';

.mobile-menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mobile-menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49px;
  padding: 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  background-color: rgba(236, 236, 236, 0.959);
  z-index: 99;

  color: black;
  // font-family: 'Pretendard';
  font-family: 'GmarketSans';
  font-weight: 400;
  text-wrap: nowrap;
  box-sizing: border-box;

  // border-bottom: 1px solid rgba(0, 0, 0, 0.397);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24);

  .mobile-menu-left {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    margin-left: 18px;
    width: 100px;

    > div {
      flex-grow: 1;
      min-width: 0;
    }

    .page-title {
      font-size: 23px;
      font-family: 'GmarketSans';
      // font-family: 'Cafe24Ssurround';
      // font-family: 'YESGothic-Regular';
      font-weight: 600;
      letter-spacing: 1px;
      color: $profile-name;

      user-select: none;
    }
  }

  .mobile-menu-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
    padding-bottom: 10px;
    vertical-align: text-bottom;

    width: 180px;

    > div {
      position: relative;
      text-align: center;
      font-weight: 400;
      width: 70px;
      box-sizing: border-box;
      padding-right: 3px;
      padding-left: 3px;
    }

    .mobile-menu-concert-btn {
      box-sizing: border-box;
    }
    .mobile-menu-contents-btn {
      box-sizing: border-box;
    }
  }
}

.mobile-display-container {
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.mobile-display-container.before-animate {
  transform: translateY(-20px);
  opacity: 0;
}
.mobile-display-container.after-animate {
  transform: translateY(0);
  opacity: 1;
}

.mobile-menu-btn {
  cursor: pointer;
  user-select: none;
}

.mobile-menu-gyechunhoe-btn::before,
.mobile-menu-concert-btn::before,
.mobile-menu-contents-btn::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);

  border-bottom: 1px solid black;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;

  width: 50%;
  opacity: 0;
}

.mobile-menu-gyechunhoe-btn.selected::before,
.mobile-menu-concert-btn.selected::before,
.mobile-menu-contents-btn.selected::before {
  width: 75%;
  opacity: 1;
}
