@import '@styles/color.scss';

.mobile-display-container {
  position: absolute;
  top: 49px;
  width: 100vw;
  background-color: rgb(241, 241, 236);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  .mobile-display-video-wrapper {
    padding: 20px;
    box-sizing: border-box;

    .mobile-display-video-frame {
      box-sizing: border-box;
      overflow: hidden;

      .mobile-display-video {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 15px;
      }
    }
  }

  .mobile-concert-link-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 11px;
    margin-right: 11px;
    border-radius: 10px;

    .mobile-concert-link-btn {
      padding: 12px 20px;
      margin: 9px 9px;
      background-color: rgba(39, 39, 36, 0.75);
      border: none;
      box-sizing: border-box;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      backdrop-filter: blur(10px);

      user-select: none;
      cursor: pointer;

      > svg {
        font-size: 16px;
        color: $soft-white;
      }
    }
  }

  .mobile-birthday-link-button-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 11px;
    margin-right: 11px;
    border-radius: 10px;

    .mobile-birthday-link-btn {
      padding: 8px 14px;
      margin: 9px 9px;
      background-color: rgba(39, 39, 36, 0.75);
      border: none;
      box-sizing: border-box;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      backdrop-filter: blur(10px);

      user-select: none;
      cursor: pointer;

      > span {
        font-size: 14px;
        color: $soft-white;
        margin-right: 4px;
      }

      > svg {
        font-size: 16px;
        color: $soft-white;
      }
    }
  }
}
